

 <section id="hero">
  <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
    <h1>Are You a gamer</h1>
    <h2>Then Why Are You Waiting for</h2>
    <div class="d-flex">
      <a href="/account/register" class="btn-get-started scrollto">Register Now !</a>
     
    </div>
  </div>
</section>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>